#btn-primary {
  background-color: #ffadad;
  border-color: #ffadad;
  margin-bottom: 10px;
  font-weight: bold;
}

#btn-primary:hover {
  background-color: #ff9393;
}

/* #btn-primary:active {
  background-color: #ff9393;
} */

#column-name {
  font-weight: bold;
  font-size: medium;
  color: #000;
}

table {
  width: 100%;
}
