#btn-primary {
  background-color: #ffadad;
  border-color: #ffadad;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#btn-primary:hover {
  background-color: #ff9393;
}

#column-name {
  font-weight: bold;
  font-size: medium;
  color: #000;
}

table {
  width: 100%;
}

.fondo {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}
