

<div class="box">
        
    <div id="text-SA" class="col-lg-c1 col-md-c1 col-md-c2 col-sm-c1">
        <p>
            Si Requieres atención especial o necesitas mayor
            comunicación con nostros puedes comunicarte a 
            través de:
        </p>
    </div>
    
    <div id="ws-text" class="col-lg-c1 col-md-c1 col-sm-c1">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/1200px-WhatsApp_logo-color-vertical.svg.png"
             alt="Whatsapp Image">
        </div>
        <br>
        <p>
            +58 4241280645/+58 2123523342
        </p>
    </div>

    <div class="col-lg-c1 col-md-c1 col-sm-c1">
        <div>
            <img src="https://seeklogo.com/images/G/gmail-new-2020-logo-32DBE11BB4-seeklogo.com.png" alt="Gmail image">
        </div>
        <br>
        <p id="correo-text">
            Chucherilandia_atencion@gmail.com
        </p>

    </div>

</div>