<h1 class="titulo" style="margin-top: 20px">
   ¿Quienes Somos?
</h1>

<div class="background"></div>


<div class="container-historia">
    <img src="../../../assets/quienesSomos.png" class="img-historia">
    <p>Chucherilandia es una empresa con mas de 50 años en el mercado ofreciendo sus productos y servicios, enfocada en mantener la satisfacción de sus clientes mediante las mejores marcas de caramelos registradas en el mercado mundial</p>
</div>
<div class="container-como">
    <h2>¿Cómo lo logramos?</h2>
        <div class="texto-mitad">
            <div class="tienda">
                <p class="text-half">En nuestra tienda física siempre estamos dispuestos a atender a toda nuestra clientela como solo los chucheriempleados saben hacerlo. Nos encontramos ubicados en los espacios de la Universidad Metropolitana, al lado de la librería</p>
                <img src="../../../assets/store.png" class="icon-half">
            </div>
            <div class="tienda">
                <p class="text-half">Actualmente no nos encontramos disponibles en su totalidad por la pandemia generada por el coronavirus, por ende te invitamos a usar nuestros especializados servicios de Delivery y Pickup que disponemos para ti</p>
                <div class="imagenes-deliv">
                <img src="../../../assets/delivery.png" class="icon-half-d">
                <img src="../../../assets/pickup.png" class="icon-half-d">
                </div>
            </div>
        </div>
    
</div>
<div class="container-publicidad">
    <img src="../../../assets/comprador.png" class="img-publicidad">
    <p class="text-publicidad">Crea combinaciones de caramelos a tu medida y degusta ahora mismo del sabor de Chucherilandia!</p>
</div>
