<app-regresar-a-tienda></app-regresar-a-tienda>
<div class="container">

    <div class="card-box col-lg-12">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p> -->
                        <p class="card-text"><small class="text-muted">Categoria: Chocolates</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box-status-p">
        <div class="box-status">
            <div id="actual-status" class="status">PAGADO</div>
            <div class="status">PENDIENTE</div>
            <div class="status">CANCELADO</div>
        </div>
    </div>

</div>