.box{
    margin-top: 40px;
}
.col.box-aleatory-products{
    background-image: url(https://i.gifer.com/2yqT.gif);
}
p{
    font-size: xx-large;
    font-weight: bold;
    color: #ff437b;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}
@media (min-width: 768px){

    .box{
        height:70%;
        width:70%; 
        margin-left:auto;
        margin-right:auto; 
        
    } 
    .col-lg-la1{
        height:70%;
        width:70%; 
        margin-left:auto;
        margin-right:auto;
        
    }
    

}


@media(min-width: 426px) and (max-width: 768px){

    .box{
        height:70%;
        width:85%; 
        margin-left:auto;
        margin-right:auto; 
        
    } 
    .col-md-la1{
        height:70%;
        width:85%; 
        margin-left:auto;
        margin-right:auto;
        
    }
    p{
        font-size: x-large;
        margin-bottom: 40px;
    }

}


@media (max-width: 425px){
    .box{
        height:70%;
        width:90%; 
        margin-left:auto;
        margin-right:auto; 
        
    } 
    .col-sm-la1{
        height:70%;
        width:100%; 
        margin-left:auto;
        margin-right:auto;
    
}
p{
    font-size: x-large;
    margin-bottom: 40px;
}

}
