

@media (min-width: 768px){

    .box{
        height:70%;
        width:70%; 
        margin-left:auto;
        margin-right:auto; 
        
    } 
    .col-lg-la1{
        height:70%;
        width:70%; 
        margin-left:auto;
        margin-right:auto;
        
    }

}


@media(min-width: 426px) and (max-width: 768px){

    .box{
        height:70%;
        width:85%; 
        margin-left:auto;
        margin-right:auto; 
        
    } 
    .col-md-la1{
        height:70%;
        width:85%; 
        margin-left:auto;
        margin-right:auto;
        
    }

}


@media (max-width: 425px){
    .box{
        height:70%;
        width:90%; 
        margin-left:auto;
        margin-right:auto; 
        
    } 
    .col-sm-la1{
        height:70%;
        width:100%; 
        margin-left:auto;
        margin-right:auto;
    
}

}
