<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet">
<footer>
    <div class="icons">
        <i class='bx bxl-facebook-circle'><a href="https://www.facebook.com/" target="_blank"></a></i>
        <i class='bx bxl-instagram-alt'><a href="https://www.instagram.com/" target="_blank"></a></i> 
        <i class='bx bxl-twitter'><a href="https://twitter.com/home" target="_blank"></a></i><br>
    </div>
    <p class="footer-text">&copy; Copyright 2020 <br>
    Chucherilandia
    </p>    
    
</footer>