footer{
    background-color: #BDB2FF;
    text-align: center;
    position: relative;

    bottom: 0px;
    width: 100%;
    height: 250px;
    padding: 20px;
}
.bx{
    color:#2e3a59;
    
    font-size: 45px;
    border-radius: 40%;
    
}
.icon-links{
    margin-right: 20px;
    margin-left: 20px;
    
    border-radius: 40%;
    text-align: center;
}
.bx:hover{
    cursor: pointer;

}
.icons{
    display: flex;
    justify-content: center;
    
}
.footer-text{
    padding: 10px;
    line-height: 30px;
    flex-wrap: wrap;
    font-family: 'Mukta', sans-serif;
}
.contacto-links{
    line-height: 30px;
    flex-wrap: wrap;
    font-family: 'Mukta', sans-serif;
    font-size: large;
    margin-right: 80px;
    margin-left: 80px;
    color: #45588af1;
    font-weight: bold;
}
.contactos{
    margin-top: 10px;
}