<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<footer>
    <div class="icons">
        <a href="https://www.facebook.com/"><i class='bx bxl-facebook-circle'></i></a> 
        <a href="https://www.instagram.com/"><i class='bx bxl-instagram-alt'  ></i></i></a> 
        <a href="https://twitter.com/home"><i class='bx bxl-twitter' ></i><br></i></a> 
        <i class='bx bxl-twitter' ></i><br>
    </div>
    <p class="footer-text">&copy; Copyright 2020 <br>
    Chucherilandia
    </p>    
    
</footer>