<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet">
<footer>
    <div class="icons">
        <a href="https://www.facebook.com/" target="_blank" class="icon-links"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://www.instagram.com/" target="_blank" class="icon-links"><i class='bx bxl-instagram-alt'></i> </a>
        <a href="https://twitter.com/home" target="_blank" class="icon-links"><i class='bx bxl-twitter'></i></a><br>
    </div>
    <div class="contactos">
        <a [routerLink]="['/about']" routerLinkActive="router-link-active" class="contacto-links">Nosotros</a><a [routerLink]="['/contacto']" routerLinkActive="router-link-active" class="contacto-links">Contacto</a><br>
    </div>
    <p class="footer-text">&copy; Copyright 2020 <br>
    Chucherilandia
    </p>    
    
</footer>