<div>
    <nav *ngIf="!logged" id="navbarbox-nologged" class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <a class="navbar-brand" routerLink="/">
                <app-logo></app-logo>
            </a>
            <a class="navbar-brand" id="titulo" routerLink="/">Chucherilandia</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
            <div>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a 
                            class="nav-link navbar-brand"
                            (click)="login()"
                            id="log"
                        >Iniciar Sesion
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a 
                            class="nav-link navbar-brand" 
                            (click)="login()"
                            id="log"
                        >Registrarse</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav *ngIf="logged" id="navbarbox-logged" class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <a class="navbar-brand" routerLink="/">
                <app-logo></app-logo>
            </a>
            <a class="navbar-brand" id="titulo" routerLink="/">Chucherilandia</a>
        </div>

        <button (click)="availableburgerItems()" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
            <div *ngIf="role === 'user'">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="material-box-icon">
                            <a class="navbar-brand" routerLink="/lista-productos">
                                <mat-icon matBadgeColor="accent">storefront</mat-icon>
                                Tienda
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="material-box-icon">
                            <a class="navbar-brand" routerLink="/carrito">
                                <mat-icon matBadgeColor="accent" [matBadge]="cartQty">add_shopping_cart</mat-icon>
                                Carrito
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="material-box-icon">
                            <a class="navbar-brand" routerLink="/bolsa">
                                <mat-icon matBadgeColor="accent" [matBadge]="bagQty">work_outline</mat-icon>
                                Bolsas
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="material-box-icon">
                            <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown">
                                <mat-icon matBadgeColor="accent">person_outline</mat-icon>
                                Cuenta
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/wishlist">Wishlist</a>
                                <a class="dropdown-item" routerLink="/tracking">Tracking</a>
                                <a class="dropdown-item" routerLink="/user-profile">Administrar Perfil</a>
                                <a class="dropdown-item" (click)="logout()" id="log">Cerrar sesion</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="role === 'admin'">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="material-box-icon">
                            <a class="navbar-brand" routerLink="/lista-productos">
                                <mat-icon matBadgeColor="accent">storefront</mat-icon>
                                Tienda
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="material-box-icon">
                            <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown">
                                <mat-icon matBadgeColor="accent">person_outline</mat-icon>
                                Cuenta
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/admin/productos">Administrar Productos</a>
                                <a class="dropdown-item" routerLink="/admin/ordenes">Administrar Órdenes</a>
                                <a class="dropdown-item" (click)="logout()" id="log">Cerrar sesion</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>