<header>
<nav *ngIf="logged===false" id='navbarbox-nologged' class="navbar navbar-expand-lg navbar-light bg-light">

    
    <a class="navbar-brand" id="titulo-nologged" routerLink="" routerLinkActive="active">Chucherilandia</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link navbar-brand no-logged" routerLink="/carrito" routerLinkActive="active">Productos <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link navbar-brand no-logged" routerLink="/bolsa" routerLinkActive="active">Contacto</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link navbar-brand no-logged" routerLink="/admin/productos" routerLinkActive="active">Nosotros</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

</header>





<nav *ngIf="logged===true" id='navbarbox-logged' class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" id="titulo" routerLink="" routerLinkActive="active"><app-logo></app-logo></a>
    <a class="navbar-brand" id="titulo-logged" routerLink="" routerLinkActive="active" >Chucherilandia</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div  class="collapse navbar-collapse  justify-content-end" id="navbarTogglerDemo03">
        <div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link navbar-brand" routerLink="/carrito" routerLinkActive="active">Chupetas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link navbar-brand" routerLink="/bolsa" routerLinkActive="active">Caramelos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link navbar-brand" routerLink="/admin/productos/nuevo" routerLinkActive="active" >Chocolates</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link navbar-brand" routerLink="/admin/productos" routerLinkActive="active" >Galletas</a>
            </li>
        </ul>
        </div>
    </div>

    <div  id='iconsbarbox' class='navbar-brand'>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active icono ">
                    <a routerLink="/carrito" routerLinkActive="active">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                    </a>
                </li>

                <li class="nav-item active icono">
                    <a routerLink="/bolsa" routerLinkActive="active">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
                        </svg>
                    </a>
                </li>
        
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        </svg>
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/whishlist" routerLinkActive="active">Wishlist</a>
                        <a class="dropdown-item" routerLink="/tracking" routerLinkActive="active">Tracking</a>
                        <a class="dropdown-item" routerLink="/whishlist" routerLinkActive="active">Cerrar sesion</a>
                        
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>









