.dropdown-item {
  background-color: white !important;
}

#titulo {
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
  color: black;
  margin-left: -10%;
}

#gostore {
  margin-top: 7%;
}

#burgerbutton {
  /* position: absolute !important; */
}

mat-icon {
  font-size: 35px;
  margin-top: 3%;
  display: inline;
  margin-left: -40%;
  color: black;
}

.material-box-icon {
  margin-left: 10%;
  display: inline;
}

.navbar-brand {
  font-family: "Mukta", sans-serif;
}

.navcategorias {
}

#navbarbox-nologged {
  background-color: white !important;
}

.no-logged {
  color: white !important;
}

#navbarTogglerDemo03 {
  margin-top: 1%;
}
#navbarbox-logged {
  background-color: white !important;
}

#iconsbarbox {
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 1%;
}

#iconsbarbox a {
  color: black;
}

.icono {
  margin-left: 16%;
}

.dropdown-toggle {
  margin-top: -10%;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu.show {
  margin-left: -185px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
#drop-user{
  margin-left: -145px;
}

.nav-item {
  margin-bottom: 5px;
}

.dropdown-toggle {
  margin: 0;
}
#log:hover {
  cursor: pointer;
}
.box-photo{

  width:45px;
  height:45px;
  margin-left:-25px;
  margin-right:auto;
  margin-top: -18%;
  
}
.photoURL{
  width:100%;
  height:100%;
  border-radius: 70%;
      
}
@media (max-width: 992px) {
  .dropdown-menu.show {
    margin-left: 0;
  }
  .box-photo{

    width:35px;
    height:35px;
    margin-left: -35px;
    
}
#drop-user{
  margin-left: 0;
}
}





