<!-- 
<div class="box">
    <div class="box-c">
    <p> En Chucherilandia estamos interesados saber tu opinión. Envíenos sus sugerencias sobre el site, nuestras productos o
        cualquiera de nuestros servicios.
        </p>
    </div>
</div> -->


<div class="container-t">

    <div class="container-t-c">
        <img src="../../../assets/ContactUs.PNG" class="img-t">
        
        <div class="container-t-c-t">
            <p> En Chucherilandia estamos interesados saber tu opinión. Envíenos sus sugerencias sobre el site, nuestras productos o
                cualquiera de nuestros servicios.
            </p>
        </div>
    </div>

</div>