#btn-save {
  margin-left: 15px;
  background-color: #ffadad;
  border-color: #ffadad;
  font-weight: bold;
}

#btn-save:hover {
  background-color: #ff9393;
}

.container {
  max-width: 100%;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

table {
  width: 100%;
}
