<app-regresar-a-tienda></app-regresar-a-tienda>

<div *ngIf="shoppingBags">
    <ng-container *ngFor="let shoppingBag of shoppingBags" style="margin: auto;">
        <ng-container *ngFor="let bag of shoppingBag.bags" >
            <div class="row justify-content-center">
                <div class="col-2 text-center">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" id="bolsa">work_outline</mat-icon>
                    <h3>US$ {{ shoppingBag.total }}</h3>
                    <h3>Peso: {{ shoppingBag.totalQty }} gr</h3>
                    <button class="btn" id="cart">
                        Enviar al carrito
                        <mat-icon aria-hidden="false" aria-label="Example home icon" id="icono">add_shopping_cart</mat-icon>
                    </button>
                    <button class="btn" id="remove">
                        Eliminar bolsa
                        <mat-icon aria-hidden="false" aria-label="Example home icon" id="icono">close</mat-icon>
                    </button>
                </div>
                <div class="col-4">
                    <ng-container *ngFor="let product of bag.products">
                        <product-bag [product]="product" [qty]="product.quantity"></product-bag>
                    </ng-container>
                </div>
            </div>
            <hr>
        </ng-container>
    </ng-container>
</div>