<app-regresar-a-tienda></app-regresar-a-tienda>
<div *ngIf="!booleano">
    <app-empty-page></app-empty-page>
</div>
<div *ngIf="shoppingBags" id="contenedor">
    <ng-container *ngFor="let shoppingBag of shoppingBags" style="margin: auto;">
        <ng-container *ngFor="let bag of shoppingBag.bags" >
            <product-bag-list 
                [shoppingBag]="bag" 
                [totalPrice]="shoppingBag.total" 
                ></product-bag-list>
        </ng-container>
    </ng-container>
</div>
