<div class="container">
    <form #form="ngForm" (ngSubmit)="save(form.value)">
        <div class="row" id="contenedor">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Nombre Producto</label>
                    <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text"
                        class="form-control" required>
                    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                        El nombre del producto es obligatorio
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number"
                            class="form-control" required [min]="0">
                    </div>
                    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                        <div *ngIf="price.errors.required">El precio es un campo obligatorio</div>
                        <div *ngIf="price.errors.min">El precio tiene que ser superior a 0 USD</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Categoría</label>
                    <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category"
                        class="form-control" required>
                        <option value=""></option>
                        <option *ngFor="let c of categories$ | async" [value]="c.key">
                            {{ c.name.name }}
                        </option>
                    </select>
                    <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                        La categoría es obligatoria
                    </div>
                </div>
                <div class="form-group">
                    <label for="imageUrl">URL de Imagen</label>
                    <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text"
                        class="form-control" required url>
                    <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                        <div *ngIf="imageUrl.errors.required">La URL de la imagen es obligatoria</div>
                        <div *ngIf="imageUrl.errors.url">Ingrese un URL válido</div>
                    </div>
                </div>
                <div class="botones">
                    <button id="btn-save" class="btn btn-primary">Guardar</button>
                    <button id="btn-remove" type="button" (click)="delete()" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
            <div class="col-md-6" id="card">
                <product-card [product]="product" [show-actions]="false"></product-card>
            </div>
        </div>
    </form>
</div>