#btn-save {
  margin-right: 5px;
  background-color: #ffadad;
  border-color: #ffadad;
  font-weight: bold;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
.row{
  margin-right: 0;
  margin-left: 0;
}
#btn-save:hover {
  background-color: #ff9393;
}

#btn-remove {
  background-color: #ff437b;
  border-color: #ff437b;
  font-weight: bold;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

#btn-remove:hover {
  background-color: #ff155b;
}
input[type='file']{
  display: none;
}
.custom-file{
  border: 1px solid #ff155b;
  border-radius: 10px;
  color: #ff155b;
  padding: 6px ;
  cursor: pointer;
  width: auto;

}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
span{
  margin-left: 10px;
}
.custom-file:hover{
  background-color: #ff155b;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
.container-input-file{
  margin: 2rem 0;
}

.container {
  max-width: 100%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

#card {
  padding: 0;  
}

