
<div class="background">
<div class="row">
    <div class="col-3">
        <category-menu [category]="category"></category-menu>
    </div>
    <div class="col">
        <p *ngIf="category; else allproducts" class="category-text">{{category}}</p>
        <ng-template #allproducts><p class="category-text">todos los productos</p></ng-template>
        <div class="row row-items">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    <product-card [product]="p" [showActions]="showActions"></product-card>
                </div>
                <div *ngIf="(i+1)%2 == 0" class="w-100 col-lg-la1 col-md-la1"></div>
                <div *ngIf="(i+1)%1 == 0" class="col-sm-la1"></div>
                
            </ng-container>
        </div>
    </div>
</div>
</div>