.card {
  box-shadow: 0 1px 3px#FF9393, 0 1px 2px #ff9393;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0;
  max-width: 250px;
  transition: all 0.2 ease-in-out;
  border-radius: 20px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
img {
  width: 100%;
}

.card-footer {
  padding: 0;
}

h5 {
  font-size: large;
}

p {
  font-size: medium;
  font-weight: bold;
  color: #ff9393;
}

button {
  background-color: #ff9393;
  color: white;
}

button:hover {
  color: white;
  background-color: #ff437b;
}

hr {
  margin: 0;
}

.row {
  padding-left: 0.9rem;
}

mat-icon {
  margin-left: 10px;
  color: #ff437b;
}
