

<div>
    <div class="list-group">
            <a id="nav-search" class=" list-group-item-action">
                <input [(ngModel)]="productName" class="list-group-item-action" type="text" value="{{productName}}"
                    name="filterByName" id="filterByName" for="filterByName" placeholder="Producto">
            </a>
            <a *ngIf="productName=='' || productName==' '"  routerLink="/lista-productos/" class="list-group-item list-group-item-action">Buscar
                producto</a>
            <a *ngIf="productName!='' && productName!=' '" [queryParams]="{nombre: productName}" routerLink="/lista-productos/" class="list-group-item list-group-item-action">Buscar
                producto</a>
        </div>
</div>

            <!-- <a *ngIf="productName=='' || productName==' '" id="btn-search-name" routerLink="/lista-productos/"
                class="list-group-item list-group-item-action">
                Buscar Producto
            </a>
            <a *ngIf="productName!='' && productName!=' '" id="btn-search-name" routerLink="/lista-productos/"
                [queryParams]="{nombre: productName}" class="list-group-item list-group-item-action">
                Buscar Producto
            </a> -->