
<div class="container">
    <div class="sticky-top">
        <div class="list-group">
            
            <div id="box">
                <a id="nav-search" class=" list-group-item-action">
                    <input [(ngModel)]="productName" class="list-group-item-action" type="text" value="{{productName}}"
                        name="filterByName" id="filterByName" for="filterByName" placeholder="Ingresa el nombre del producto">
                    
                    
                    <a *ngIf="productName!='' && productName!=' '" id="btn-search-name" routerLink="/lista-productos/"
                        [queryParams]="{nombre: productName}" class="list-group-item list-group-item-action">
                        <span id="icon-search" class="material-icons">
                            search
                        </span>
                    </a>
                    <a *ngIf="productName=='' || productName==' '" id="btn-search-name" routerLink="/lista-productos/"
                        class="list-group-item list-group-item-action">
                    <span id="btn-search" class="material-icons">
                        search
                    </span>
                    </a>
                </a>
            </div>
        </div>
    </div>
</div>