<app-regresar-a-tienda></app-regresar-a-tienda>
<div class = "margin">
    <div class="box">
        <div class="box-icon">
        <span class="person-icon material-icons">
            emoji_people
        </span>
        </div>
        <div class="">
            <div class="text-1">
    
                <p id="t1">
                    GRACIAS POR TU CHUCHERICOMPRA!
                </p>
    
            </div>
            
            <div class="text-2">
                <p id="t2">
    
                    Ahora espera que tu orden se confirme para recibirla o pasarla recogiendo <br>
                    Mientras puedes seguir comprando en la Chucheritienda
                </p>
                
            </div>
    
        </div>
    </div>
    <div class="resumen">
        <p class = "resumen-title">Resumen de compra</p>
    </div>
</div>