<form #form="ngForm" (ngSubmit)="save(form.value)">
    <div class="container">
        <div class="form-row justify-content-start">
            <div class="col-md-12">
                <div class="col-md-4">
                    <label for="inputAddress">Metodo de Retiro</label>
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Metodo de envio</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" (change)="retiroChangeHandler($event)">
                        <option value=""></option>
                        <ng-container *ngFor="let retiro of retiros">
                            <option value="{{ retiro.name }}">{{ retiro.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <div *ngIf="isDelivery">
                    <div class="form-group">
                        <label for="name">Nombre Completo *</label>
                        <input #name="ngModel" [(ngModel)]="address.name" name="name" id="name" type="text" class="form-control"
                            placeholder="Nombre Completo" required>
                        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                            El nombre completo es obligatorio
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección *</label>
                        <input #addressing="ngModel" [(ngModel)]="address.address" name="addressing" type="text" class="form-control"
                            placeholder="Dirección" required>
                        <div class="alert alert-danger" *ngIf="addressing.touched && addressing.invalid">
                            La dirección es obligatoria
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="country">País *</label>
                            <input #country="ngModel" [(ngModel)]="address.country" name="country" type="country" class="form-control"
                                placeholder="País" required>
                            <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
                                El país es obligatorio
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="state">Estado *</label>
                            <input #state="ngModel" [(ngModel)]="address.state" name="state" type="text" class="form-control"
                                placeholder="Estado" required>
                            <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
                                El estado es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <label for="city">Ciudad *</label>
                            <input #city="ngModel" [(ngModel)]="address.city" name="city" type="text" class="form-control"
                                placeholder="Ciudad" required>
                            <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                                La ciudad es obligatoria
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="zipCode">Codigo Postal *</label>
                            <input #zipCode="ngModel" [(ngModel)]="address.zipCode" name="zipCode" type="number" class="form-control"
                                placeholder="Código Postal" required>
                            <div class="alert alert-danger" *ngIf="zipCode.touched && zipCode.invalid">
                                El código postal es obligatorio
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-row justify-content-start">
            <div class="col-md-12">
                <div class="col-md-4">
                    <label for="inputPayment">Metodo de Pago</label>
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Metodo de Pago</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" (change)="paymentChangeHandler($event)">
                        <option value=""></option>
                        <ng-container *ngFor="let payments of payments">
                            <option value="{{ payments.name }}">{{ payments.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <div *ngIf="isTDC">
                    <div class="form-group">
                        <label for="name">Nombre *</label>
                        <input #tdcName="ngModel" [(ngModel)]="payment.tdcName" name="tdcName" id="tdcName" type="text" class="form-control"
                            placeholder="Nombre como aparece en la tarjeta" required>
                        <div class="alert alert-danger" *ngIf="tdcName.touched && tdcName.invalid">
                            El nombre es obligatorio
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tdcNumber">Número de la Tarjeta *</label>
                        <input #tdcNumber="ngModel" [(ngModel)]="payment.tdcNumber" name="tdcNumber" id="tdcNumber" type="number" class="form-control" id="inputAddress" 
                            placeholder="Número de la Tarjeta" required>
                        <div class="alert alert-danger" *ngIf="tdcNumber.touched && tdcNumber.invalid">
                            El número es obligatorio
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="expiration">Fecha de expiracion *</label>
                            <input #expiration="ngModel" [(ngModel)]="payment.expiration" name="expiration" id="expiration" type="date"
                                class="form-control" placeholder="dd/mm/aaaa" required>
                            <div class="alert alert-danger" *ngIf="expiration.touched && expiration.invalid">
                                El número es obligatorio
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isPaypal">
                    <paypal-buttons 
                        [totalPayment]="totalPaymentAmount" 
                        [form]="form.value"
                        [currentRetiro]="currentRetiro"
                        [currentPayment]="currentPayment"
                        [user]="user"
                        [id]="id"
                    ></paypal-buttons>
                </div>
            </div>
        </div>
    </div>
    <div class="container-btn">
        <div class="btn-box">
            <button type="submit" class="btn">Realizar Pago</button>
            
        </div>
    </div>
</form>


<!-- 
    
<form [formGroup]="form" (ngSubmit)="save($event)">
    <div class="container">
        
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label for="inputAddress">Metodo de Retiro</label>
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Metodo de envio</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="metodoEnvio">
                    
                    <option value="Delivery">Delivery</option>
                    <option value="Pickup">Pickup</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputAddress">Nombre Completo</label>
            <input type="text" class="form-control" id="inputAddress" formControlName="name" placeholder="Nombre Completo">
        </div>
        <div class="form-group">
            <label for="inputAddress">Direccion</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="direccion">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Pais</label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="pais">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Estado</label>
                <input type="text" class="form-control" id="inputPassword4" formControlName="estado">
            </div>
        </div>
        
        
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="inputCity">Ciudad</label>
                <input type="text" class="form-control" id="inputCity" formControlName="ciudad">
            </div>
            
            <div class="form-group col-md-3">
                <label for="inputZip">Codigo Postal</label>
                <input type="number" class="form-control" id="inputZip" formControlName="codigoPostal">
            </div>
            
        </div>
        
        </div>
    <div class="container">
    
        <div class="form-check">
            <input class="form-check-input" type="radio"  id="exampleRadios1" value="tarjetaCredito" formControlName="metodoPago">
            <label class="form-check-label" for="exampleRadios1">
                Tarjeta de Credito
            </label>
        </div>
        <div class="form-group">
            <label for="inputAddress">Numero de la tarjeta</label>
            <input type="number" class="form-control" id="inputAddress" placeholder="Numero de la Tarjeta" formControlName="numeroTarjeta">
        </div>
        <div class="form-group">
            <label for="inputAddress">Nombre de la tarjeta</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Nombre de la Tarjeta" formControlName="nombreTarjeta">
        </div>
        <div class="form-group">
            <label for="inputAddress">Fecha de expiracion</label>
            <input type="date" class="form-control" id="inputAddress" placeholder="dd/mm/aaaa" formControlName="fechaExpiracion">
        </div>
        
    
    
       
        <div class="form-check">
            <input class="form-check-input" type="radio"  id="exampleRadios1" value="paypal" formControlName="metodoPago">
            <label class="form-check-label" for="exampleRadios1">
                <img src="../../../assets/LogoPaypal.png" alt="">
            </label>
        </div>
        

    </div>
    <div class="container-btn">
        <div class="btn-box">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Comprar</button>
        </div>
    </div>
</form>
 -->
