@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;800&display=swap');




.navbar-brand-titulo {
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    margin-left: -13px;
    
}

.navbar-brand{
    
    font-family: 'Mukta', sans-serif;
}

.navcategorias{
    margin-left: 120px;
}
#navbarbox{
    background-color:white !important;
    width: 950px;
     
}

