<!-- <p>navbar works!</p> -->

<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;800&display=swap" rel="stylesheet">
<!-- Image and text -->
<nav  class="navbar navbar-light bg-light" id='navbarbox'>
    <a class="navbar-brand" href="#">
        <app-logo></app-logo>
        <span class="navbar-brand-titulo">Chucherilandia</span>
    </a>

    <div class="navcategorias">
        <a  class="navbar-brand" href="#">
            <span id="chu">Chupetas</span> 
        </a>
        <a class="navbar-brand" href="#">
            
            <span>Caramelos</span>
        </a>
        <a class="navbar-brand" href="#">
            
            <span>Chocolates</span>
        </a>
        <a class="navbar-brand" href="#">
            
            <span>Galletas</span>
        </a>

    </div>
</nav>

