




#star-icon{
  /* color: gold; */
  color: yellow;
}

.card {
  box-shadow: 0 1px 3px#FF9393, 0 1px 2px #ff9393;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 0;
  max-width: 250px;
  transition: all 0.2 ease-in-out;
  border-radius: 20px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
img {
  width: 100%;
}

.card-footer {
  padding: 0;
}

h5 {
  font-size: large;
}

p {
  font-size: medium;
  font-weight: bold;
  color: #ff9393;
}

button {
  background-color: #ff9393;
  color: white;
}

button:hover {
  color: white;
  background-color: #ff437b;
}

hr {
  margin: 0;
}

#text {
  padding-left: 0.9rem;
}

mat-icon {
  margin-left: 10px;
  color: #ff437b;
}

#qtyBtn {
  border-color: transparent;
  font-size: large;
}
a{
  color: black
}


.btn-isliked{
  background-color: #fc9b4d;
  color: black;
  border-width: 3px;
  border-color: black;
  font-size: 13px;
  
}

#remove{
    background-color: white;
    color: red;
    border-color:white;
    margin-top: 2%;
}
.btn-box-c-delete{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#remove-all {
        
        font-size: 14px;
        width:100%;
        margin-top: 10%;
        margin-bottom: 10%;
        color:black;
        border-width: 2%;
        background-color:white;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
        border-color:#ff437b;
    }

@media (min-width: 426px) and (max-width: 768px){
    #comprar-CHUC{
        font-size: 14px;
    }
    
}