

<div class="container">
    <div *ngIf="booleano2" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div *ngFor="let product of all_products; let i = index" class="box col mb-4">

            <button (click)="delete_product(product.product)" id="remove" type="button" class="btn btn-primary btn-lg btn-sm">
                <span class="shopbask-icon material material-icons-outlined">
                    clear
                </span>
                </button>
            <div *ngIf="product.product.title" class="card">
                <a [routerLink]="['/producto', product.product.key]">
                    <img *ngIf="product.product.imageUrl" [src]="product.product.imageUrl" class="card-img-top"
                        alt="{{product.product.title}}">
                </a>
                <hr>
                
                <div class="card-body">
                    <div class="row" id="text">
                        <a [routerLink]="['/producto', product.product.key]">
                            <h5 class="card-title">{{ product.product.title }}</h5>
                        </a>
                        
                    </div>
                    <p class="card-text">{{ product.product.price | currency:'USD':true }}</p>
                </div>




                <div class="card-footer">


                    <a [routerLink]="['/producto', product.product.key]">
                        <button id="comprar-CHUC" class="btn btn-block">COMPRAR CHUCHERIDESEO
                            <span id="star-icon"class="shopbask-icon material material-icons-outlined">
                                grade
                            </span>
                        </button>
                        
                    </a>
                </div>


            </div>


        </div>

        
    </div>
    <div *ngIf="all_products.length!=0" class="btn-box-c-delete">
    
        <button id="remove-all" (click)="deleteAllProducts()" type="button" class="btn btn-primary btn-sm">
            <span class="shopbask-icon material material-icons-outlined">
                delete
            </span>Eliminar Toda la WishList </button>
    
    </div>


</div>







