

<div *ngIf="booleano2">
<div *ngFor="let product of all_products"  class="box">
    <div  class="box-btns">
        <div class="btn-box-c">
            <button  type="button" class="btn btn-primary btn-lg">
                <span class="shopbask-icon material material-icons-outlined">
                    
                    grade
                </span>
                COMPRAR CHUCHERIDESEO</button>
        </div>
        <div class="btn-box-c">
            <button (click)="delete_product(product.product)" type="button" class="btn btn-primary btn-lg btn-sm">
                <span class="shopbask-icon material material-icons-outlined">
                    clear
                </span>
                Eliminar Producto</button>
        </div>
    </div>
    <div class="h">
        <div  class="card mb-3 lg md" style="border-color: #FFC6FF; border-radius: 10px; border-width: 4px;">
            <div class="row no-gutters" >
                <div class="col-md-4">
                    <img [src]="product.product.imageUrl" class="card-img" alt="...">
                </div>
                <div class="col-md-8" >
                    <div class="card-body" >
                        <h1 class="card-title">{{ product.product.title }}</h1>
                        <h3 class="card-title">{{ product.product.category }}</h3>
                        <div class="card-body-price">
                            <h1>{{product.product.price }}</h1>
                        </div>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box-btns-sm">
        <div class="btn-box-c">
            
            <button  type="button" class="btn btn-primary btn-lg">
                
                    <span class="shopbask-icon material material-icons-outlined">
                        grade
                    </span>
                
                COMPRAR CHUCHERIDESEO</button>
        </div>
        <div class="btn-box-c">

            <button (click)="delete_product(product.product)" type="button" class="btn btn-primary btn-sm">
                <span class="shopbask-icon material material-icons-outlined">
                    clear
                </span>Eliminar Producto</button>
        
        </div>
    </div>
    
    
</div>

</div>




