<app-regresar-a-tienda></app-regresar-a-tienda>
<div *ngIf="!booleano">
    <app-empty-page></app-empty-page>
</div>
<div *ngIf="allBags" id="contenedor">
    <div *ngIf="allBags.length === 0">
        <app-empty-page></app-empty-page>
    </div>
    <div *ngIf="allBags.length > 0">
        <div class="container">
            <div class="row justify-content-end">
                <button class="btn" (click)="checkOut()">Hacer Checkout</button>
            </div>
        </div>
        <ng-container *ngFor="let bag of allBags">
            <product-cart-list [shoppingBag]="bag"></product-cart-list>
        </ng-container>
        <cart-checkout [totalPrice]="totalPrice" [totalQuantity]="totalBags"></cart-checkout>
    </div>
</div>
