
#text-SA{
    color: #EA0DB9;
    font-size:  43px;
    line-height : 35px;
    
}



#tw-text{
    color: #00B6F1;
    font-size:24px;
    
}

#ig-text{
    color:#823CAB;
    font-size:24px;

}
#fb-text{
    color:#4267B2;
    font-size:24px;
}


img{
    width: 30%;
    height: 70%;
    border-radius: 70%;
    
}


@media (min-width: 992px) {
    .box {
    background-color: #CAFFBF;
    width: 100%;
    height:300px;
    display: inline-block;
    /* display: table; */
    
    }

    .col-lg-c1{
        padding-left: 2%;
        margin-left: auto;
        margin-bottom: auto;
        
        height:95%;
        width: 33%;
        text-align: center;
        display: inline-block;
        justify-content: center;
        /* display: table-cell;
        vertical-align: middle; */

    }
    .col-md-c2{
        padding-left: 3%;
        margin-right: auto;
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
       
        height:30%;
        width: 75%;
        text-align: center;
        
        display: inline-block;
        justify-content: center;
    }


}


@media (min-width: 768px) and (max-width: 991px) {

    .box {
    background-color: #CAFFBF;
    width: 100%;
    height:300px;
    display: inline-block;
    /* display: table; */
    
    }

    .col-md-c1{
        /* background-color: red; */
        padding-left: 2%;
        margin-right: auto;
        margin-left: auto;
        /* margin-top: 10px; */
        margin-bottom: 190px;
        padding: 10px;
       
        height:35%;
        width: 33%;
        text-align: center;
        
        display: inline-block;
        justify-content: center;
    }
    .col-md-c2{
        padding-left: 2%;
        margin-right: auto;
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
       
        height:30%;
        width: 75%;
        text-align: center;
        
        display: inline-block;
        justify-content: center;
    }

}


@media (max-width: 768px) {
    .box {
    background-color: #CAFFBF;
    width: 100%;
    height:930px;
    display: inline-block;
    /* display: table; */
    }

    .col-sm-c1{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
       
        height:15%;
        width: 90%;
        text-align: center;
        display: inline-block;
    }

}
