<div class="container-box">
    <div class="box box-text">

        <div id="text-SA" class="col-lg-c1 col-md-c1 col-md-c2 col-sm-c1">
            <p>
                PUEDES CONTACTARNOS 
                <br> A TRAVES DE:
            </p>
        </div>
    </div>
    <div class="box box-icons">    
        <div id="tw-text" class="col-lg-c1 col-md-c1 col-sm-c1">
            <div>
                <img src="../../../assets/Logotwitter.jfif" alt="Facebook Image">
            </div>
            <br>
            <p>
                @chucherilandiaoficial
            </p>
        </div>

        <div id="ig-text" class="col-lg-c1 col-md-c1 col-sm-c1">
            <div>
                <img src="../../../assets/logoInstagram.jfif" alt="Gmail image">
            </div>
            <br>
            <p>
                @chucherilandia_unimet
            </p>
        
        </div>

        <div id="fb-text" class="col-lg-c1 col-md-c1 col-sm-c1">
            <div>
                <img src="../../../assets/Logofacebook.png"
                    alt="Whatsapp Image">
            </div>
            <br>
            <p>
                Chucherilandia
                
            </p>
        </div>

    
    </div>

</div>