#logo{
    height:60px;
    width:60px;
    margin-top: -35%;
    margin-right: 10px;
    transform:rotate(43deg);
    /* margin-left: -100px; */
}
@media (max-width: 992px) {
    #logo{
        height:40px;
        width:40px;
        margin-right: 5px;
  }
  }
