<p>bolsa-vacia works!</p>

<div class="box">
    <div class="box-icon">
    <span class="shopbask-icon material-icons">
        shopping_basket
    </span>
    </div>
    <div class="">
        <div class="text-1">

            <p id="t1">
                No haz creado ninguna Chucheribolsa
            </p>

        </div>
        
        <div class="text-2">
            <p id="t2">

                Crea una chucheribolsa para añadirle productos y proceder a pagarlos en el Chuchericarro
            </p>
            
        </div>

    </div>
</div>