<div class="category-container">
    <div class="icons-container">
        <ul class="icons">
            <li>
                <a routerLink="/lista-productos" [queryParams]="{category: 'chupetas'}">
                <div class="iconbox">
                    <img src="../../../assets/Paleta.png" class="icon-cat">
                </div>
                <div class="iconletter">Chupetas</div>
                </a>
            </li>
            <li>
                <a routerLink="/lista-productos" [queryParams]="{category: 'Chocolates'}">
                <div class="iconbox">
                    <img src="../../../assets/chocolate.png" class="icon-cat">
                </div>
                <div class="iconletter">Chocolates</div>
            </a>
            </li>
            <li>
                <a routerLink="/lista-productos" [queryParams]="{category: 'caramelos'}" >
                <div class="iconbox">
                    <img src="../../../assets/candy.png" class="icon-cat">
                </div>
                <div class="iconletter">Caramelos</div>
            </a>
            </li>
            <li>
                <a routerLink="/lista-productos" [queryParams]="{category: 'gomitas'}" >
                <div class="iconbox">
                    <img src="../../../assets/gummy-bear.png" class="icon-cat">
                </div>
                <div class="iconletter">Gomitas</div>
            </a>
            </li>
        </ul>
    </div>
    <a [routerLink]="['/lista-productos']" >   
    <div class="texto">
        <p>Ver todas las categorías</p>
    </div>
    </a>    
</div>
