<div class="fondo">
    <div class=row>
        <a id="btn-primary" routerLink="/admin/payments" class="btn btn-primary">Administrar Métodos de Pago</a>
        <a id="btn-primary" routerLink="/admin/retiros" class="btn btn-primary">Administrar Métodos de Retiro</a>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="client">
                <th id="column-name" mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th id="column-name" mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th id="column-name" mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th id="column-name" mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> <a [routerLink]="['/admin/ordenes/', element.key]">Revisar</a>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>